.stores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.store {
  border: 1px solid black;
  border-radius: .5rem;
  padding: .5rem;
  max-width: 20rem;
  margin: 20px;
}

.ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "owned owned owned owned"
    "price price price price"
    "return return return return"
    "progress progress progress progress"
    "collection collection buy buy";

  p {
    margin: .25rem auto;
  }

  .owned {
    grid-area: owned;
  }

  .price {
    grid-area: price;
  }

  .return {
    grid-area: return;
  }

  .progress {
    grid-area: progress;

    .k-progress-outer {
      padding-right: 0;
    }
  }

  .collection {
    grid-area: collection;
  }

  .buy {
    grid-area: buy;
  }
}
